<div class="main-menu menu-fixed menu-light menu-accordion    menu-shadow " data-scroll-to-active="true"
        data-img="theme-assets/images/backgrounds/02.jpg">
        <div class="navbar-header">
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item mr-auto"><a class="navbar-brand" href="/"><img class="brand-logo"
                            alt="Chameleon admin logo" src="/public/css/logo.png" />
                        <h3 class="brand-text">EtudiTips</h3>
                    </a></li>
                <li class="nav-item d-md-none"><a class="nav-link close-navbar"><i class="ft-x"></i></a></li>
            </ul>
        </div>
        <div class="main-menu-content">
            <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
                <li id="housing" class=" nav-item"><a href="/logement"><i class="ft-home"></i><span class="menu-title"
                            data-i18n="">Logement</span></a>
                </li>
                <li id="health" class=" nav-item"><a href="/sante"><i class="la la-medkit"></i><span class="menu-title"
                            data-i18n="">Santé</span></a>
                </li>
                <li id="money" class=" nav-item"><a href="/aides-financieres"><i class=" la la-money"></i><span class="menu-title"
                            data-i18n="">Aides financières</span></a>
                </li>
                <li id="studies" class=" nav-item"><a href="/etudes"><i class="la la-graduation-cap"></i><span class="menu-title"
                            data-i18n="">Etudes</span></a>
                </li>
                <li id="job" class=" nav-item"><a href="/job"><i class="la la-suitcase"></i><span class="menu-title"
                            data-i18n="">Job</span></a>
                </li>
                <li id="wellbeing" class=" nav-item"><a href="/bien-etre"><i class="la la-smile-o"></i><span class="menu-title"
                            data-i18n="">Bien-être</span></a>
                </li>
                <li id="food" class=" nav-item"><a href="/se-nourrir"><i class="la la-cutlery"></i><span class="menu-title"
                            data-i18n="">Se nourrir</span></a>
                </li>
                <li id="hobbies" class=" nav-item"><a href="/loisirs"><i class="la la-headphones"></i><span class="menu-title"
                    data-i18n="">Loisirs</span></a>
        </li>
                <li id="tips" class=" nav-item"><a href="/bons-plans"><i class="la la-hand-pointer-o"></i><span class="menu-title"
                    data-i18n="">Bons plans</span></a>
        </li>
            </ul>
        </div>
        <div class="navigation-background"></div>
    </div>

    </body>

    