<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="components/stressBar.js"></script>
    <script src="components/moneyBar.js"></script>
    <script src="components/sleepBar.js"></script>
    <script src="components/score.js"></script>
    <script src="player.js"></script>

    <style>
        canvas {
            border: 1px solid black;
            background-color: #f1f1f1;
        }
    </style>
</head>
<body style="text-align: center;" onload="startGame()">
    <script>
        var player;
        var stressBar;
        var moneyBar;
        var sleepBar;

        var score;

        var canvasWidth = window.innerWidth*0.5;
        var canvasHeight = window.innerHeight*0.8;
        var drawing;

        var listOfBadGuys;
        var piecesToDel = [];

        var chrono = 0;
        const chronoStep = 1;
        var flikerChrono;

        const SMALL = 10;
        const MEDIUM = 20;
        const BIG = 30;

        const moneyBonus = new attack(0, 0, 20);
        let moneyBonusTab = ["CAF", "ARGENT DE MAMIE", "CROUS", "BOURSE"]
        const money = new bonusComponent(MEDIUM, MEDIUM, moneyBonusTab[Math.floor(Math.random()*moneyBonusTab.length)], 10, 5, moneyBonus);
        const stressBonus = new attack(0, -5, 0);
        let stressBonusTab = ["DU THÉ", "MUSIQUE CLASSIQUE", "SPORT", "MEDITATION"]
        const cupOfTea = new bonusComponent(MEDIUM, MEDIUM, stressBonusTab[Math.floor(Math.random()*stressBonusTab.length)], 10, 5, stressBonus);
        const sleepBonus = new attack(5, 0, 0);
        let sleepBonusTab = ["GRASSE MAT'", "DODO", "DIMANCHE AU SOLEIL", "VACANCES", ]
        const bed = new bonusComponent(MEDIUM, MEDIUM, sleepBonusTab[Math.floor(Math.random()*sleepBonusTab.length)], 10, 5, sleepBonus);


        /*const moneyBonus = new attack(0, 0, 20);
        const money = new bonusComponent(MEDIUM, MEDIUM, "CAF", 10, 5, moneyBonus);
        const teaBonus = new attack(0, -20, 0);
        const cupOfTea = new bonusComponent(MEDIUM, MEDIUM, "DU THÉ", 10, 5, teaBonus);
        const bedBonus = new attack(20, 0, 0);
        const bed = new bonusComponent(MEDIUM, MEDIUM, "DODO", 10, 5, bedBonus);*/


        function startGame() {
            myGameArea.start();
            chrono = 0;
            flikerChrono = 60
            player = new player("red", canvasWidth / 2, canvasHeight * 0.3);
            stressBar = new stressBar(canvasWidth / 4, 50, "gray", canvasWidth * 0.02, 10);
            sleepBar = new sleepBar(canvasWidth / 4, 50, "gray", canvasWidth * 0.35, 10);
            moneyBar = new moneyBar(canvasWidth / 4, 50, "gray", canvasWidth * 0.68, 10);
            score = new score(canvasWidth * 0.8, canvasHeight * 0.98)
            listOfBadGuys = generatelistOfBadGuys();

        }

        var myGameArea = {
            canvas: document.createElement("canvas"),
            start: function () {
                this.canvas.width = canvasWidth;
                this.canvas.height = canvasHeight;
                this.context = this.canvas.getContext("2d");
                document.body.insertBefore(this.canvas, document.body.childNodes[0]);
                this.interval = setInterval(updateGameArea, 20);
                window.addEventListener('keydown', function (e) {
                    myGameArea.keys = (myGameArea.keys || []);
                    myGameArea.keys[e.keyCode] = (e.type == "keydown");
                })
                window.addEventListener('keyup', function (e) {
                    myGameArea.keys[e.keyCode] = (e.type == "keydown");
                })

            },
            clear: function () {
                this.context.clearRect(0, 0, this.canvas.width, this.canvas.height);
            }
        }


        function updateGameArea() {
            myGameArea.clear();
            console.log(moneyBar.isGameOver());
            console.log(stressBar.isGameOver());
            console.log(sleepBar.isGameOver());
            if (!moneyBar.isGameOver() && !stressBar.isGameOver() && !sleepBar.isGameOver()) {
                player.speedX = 0;
                player.speedY = 0;
                if (myGameArea.keys && myGameArea.keys[37]) { player.speedX = -player.speed; }
                if (myGameArea.keys && myGameArea.keys[39]) { player.speedX = player.speed; }
                if (myGameArea.keys && myGameArea.keys[38]) { player.speedY = -player.speed; }
                if (myGameArea.keys && myGameArea.keys[40]) { player.speedY = player.speed; }
                stressBar.renderStressBar();
                moneyBar.renderMoneyBar();
                sleepBar.renderSleepBar();
                score.renderScore();

                renderBadGuys();
                createBonus();

                for (let i = 0; i < listOfBadGuys.length; i++) {
                    let badGuy = listOfBadGuys[i];
                    if (player.crashWith(badGuy)) {
                        interactWithPlayer(badGuy.attack);
                    }
                }

                if (player.crashWith(bonusActive)) {
                    console.log(bonusActive.attack);
                    interactWithPlayer(bonusActive.attack);
                }

                player.update();
            }
            else{
                ctx = myGameArea.context;
                ctx.fillStyle = "red";
                ctx.font = "30px Verdana";
                ctx.fillText("GAME OVER", canvasWidth/3 + 80, canvasHeight/2);
                ctx.fillStyle = "black";
                ctx.fillText("Your score is : " + score.score + " pts", canvasWidth/3 + 30, canvasHeight/2 + 40);
                
            }
        }

        function interactWithPlayer(attack) {
            let stress = attack.stress;
            let sleep = attack.sleep;
            let money = attack.money;
            stressBar.addStress(stress);
            sleepBar.addSleep(sleep);
            moneyBar.addMoney(money);
        }

        function getRandomStartPoints() {
            let rnd = getRandomInt(0, 2);
            let points = [];
            if (rnd === 1) {
                points.push(getRandomStartPoint(myGameArea.canvas.width));
                points.push(getRandomInt(0, myGameArea.canvas.height));
            }
            else {
                points.push(getRandomInt(0, myGameArea.canvas.width));
                points.push(getRandomStartPoint(myGameArea.canvas.height));
            }
            return points;
        }

        function attack(sleep, stress, money) {
            this.sleep = sleep;
            this.stress = stress;
            this.money = money;
        }

        function component(width, height, text, xdir, ydir, attack) {
            this.width = width;
            this.height = height;
            let randomStart = getRandomStartPoints();
            this.x = randomStart[0];
            this.y = randomStart[1];
            this.xdir = xdir;
            this.ydir = ydir;
            this.attack = attack;
            this.update = function () {
                ctx = myGameArea.context;
                ctx.fillStyle = "red";
                ctx.font = width + "px Verdana";
                ctx.fillText(text, this.x, this.y);
                this.width = ctx.measureText(text).width
            }
            this.move = function () {
                this.x = this.x + this.xdir;
                this.y = this.y + this.ydir;
            }
            this.isOutOfBounds = function () {
                let width = myGameArea.canvas.width;
                let height = myGameArea.canvas.height;
                return (this.x >= width) || (this.x <= 0) || (this.y >= height) || (this.y <= 0);
            }
        }

        /******************** BAD GUYS ************************/

        function sleepAndStress() {
            let at = new attack(-2, 2, 0);
            let tab = ["RENDU DEMAIN", "PRESENTATION", "PLUS DE CAFÉ", "EXAM"]
            component.call(this, MEDIUM, MEDIUM, tab[Math.floor(Math.random()*tab.length)], 5, 0, at);
        }
        sleepAndStress.prototype = Object.create(component.prototype);

        function bigSleepAndStress() {
            let rndXDir = getRandomDir(2);
            let rndYDir = getRandomDir(2);
            let at = new attack(-5, 5, 0);
            component.call(this, BIG, BIG, "PROJET", rndXDir, rndYDir, at);
        }
        bigSleepAndStress.prototype = Object.create(component.prototype);

        function littleSleepAndStress() {
            let at = new attack(-1, 1, 0);
            component.call(this, SMALL, SMALL, "DEVOIR", 0, 2, at);
        }
        littleSleepAndStress.prototype = Object.create(component.prototype);

        // sleep, stress, money
        function littleStress() {
            let rndXDir = getRandomDir(2);
            let rndYDir = getRandomDir(2);
            let at = new attack(0, 1, 0);
            let tab = ["FAUT QU'ON PARLE", "MANIFESTATION", "STAGE", "TRAM EN PANNE", "PORTABLE PERDU"]
            component.call(this, SMALL, SMALL, tab[Math.floor(Math.random()*tab.length)], rndXDir, rndXDir, at);
        }
        littleStress.prototype = Object.create(component.prototype);

        function littleSleep() {
            let at = new attack(-1, 0, 0);
            let tab = ["NETFLIX", "JEUX VIDEO", "COURS A 8 H"]
            component.call(this, MEDIUM, MEDIUM, tab[Math.floor(Math.random()*tab.length)], -2, 2, at);
        }
        littleSleep.prototype = Object.create(component.prototype);

        function bigSleepAndMoney() {
            let at = new attack(-4, 0, -2);
            let tab = ["SOIREE"]
            component.call(this, MEDIUM, MEDIUM, tab[Math.floor(Math.random()*tab.length)], 2, 2, at);
        }
        bigSleepAndMoney.prototype = Object.create(component.prototype);
        
        function bigMoney() {
            let at = new attack(0, 0, -5);
            let tab = ["ORDINATEUR EN PANNE", "CLAVIER CASSÉ", "LOYER", "FRAIS D'INSCRIPTION"]
            component.call(this, BIG, BIG, tab[Math.floor(Math.random()*tab.length)], 2, -2, at);
        }
        bigMoney.prototype = Object.create(component.prototype);

        /********************************************************/

        function renderBadGuys() {
            for (let i = 0; i < listOfBadGuys.length; i++) {
                let piece = listOfBadGuys[i];
                if (!piece.isOutOfBounds()) {
                    piece.move();
                    piece.update();
                }
                else {
                    piecesToDel.push(i);
                }
            }
            for (let j = 0; j < piecesToDel.length; j++) {
                listOfBadGuys.splice(piecesToDel[j], 1);
                listOfBadGuys.push(generatePiece());
                piecesToDel = [];
            }
        }

        function getRandomInt(min, max) {
            return Math.floor(Math.random() * (max - min)) + min;
        }

        function getRandomDir(number) {
            let rnd = Math.floor(Math.random() * (number * 2 + 1)) - number;
            while (rnd == 0)
                rnd = Math.floor(Math.random() * (number * 2 + 1)) - number;
            return rnd;
        }

        function getRandomStartPoint(max) {
            let rnd1 = getRandomInt(0, 10);
            let rnd2 = getRandomInt(max - 10, max);
            let rnd = getRandomInt(0, 2);
            if (rnd === 1) {
                return rnd1;
            }
            return rnd2;
        }

        function generatePiece() {
            let randomNumber = getRandomInt(0, 85);
            if (randomNumber < 20)
                return new sleepAndStress();
            else if (randomNumber > 20 && randomNumber < 30)
                return new bigSleepAndStress();
            else if (randomNumber > 30 && randomNumber < 45)
                return new littleSleepAndStress();
            else if (randomNumber > 45 && randomNumber < 55)
                return new littleStress();
            else if (randomNumber > 55 && randomNumber < 65)
                return new littleSleep();
            else if (randomNumber > 65 && randomNumber < 70)
                return new bigSleepAndMoney();
            else
                return new bigMoney();
        }

        function generatelistOfBadGuys() {
            let list = [];
            let nbOfPieces = getRandomInt(0, 5);
            for (let i = 0; i < 20; i++) {
                list[i] = generatePiece();
            }
            return list;
        }
        /*
                function flikering() {
                    //  if (flikerChrono > 40 || (flikerChrono > 0 && flikerChrono < 20)) {
                    //     myGameArea.clear();
                    //  } else {
                    bonusActive.update();
                    //  }
                    if (flikerChrono <= 0) flikerChrono = 60
                    flikerChrono = flikerChrono - 3
                }*/

        function createBonus() {
            if (chrono <= 0) {
                myGameArea.clear();
                bonusActive = generateBonus();
                bonusActive.setRandomPosition();
                chrono = 500;
            }
            /*else if (chrono <= 60) {
               flikering()
            }*/
            bonusActive.update();
            chrono = chrono - chronoStep;
        }

        function bonusTaken() {
            chrono = 0;
        }

        function bonusComponent(width, height, text, x, y, attack) {
            this.width = width;
            this.height = height;
            this.x = x;
            this.y = y;
            this.attack = attack;
            this.update = function () {
                ctx = myGameArea.context;
                ctx.fillStyle = "green";
                ctx.font = width + "px Verdana";
                ctx.fillText(text, this.x, this.y);
                this.width = ctx.measureText(text).width
            }
            this.setRandomPosition = function () {
                this.x = getRandomInt(5, myGameArea.canvas.width - 100);
                this.y = getRandomInt(5, myGameArea.canvas.height - 100);
            }
        }

        function generateBonus() {
            let randomNumber = getRandomInt(0, 30);
            if (randomNumber < 10)
                return money;
            else if (randomNumber < 20)
                return cupOfTea;
            else if (randomNumber < 30)
                return bed;
        }



    </script>
</body>
<h2>Erreur 404, la page que vous avez demandé n'existe pas.</h2>

</html>