<div class="app-content content">
	<div class="content-wrapper">
		<div class="content-wrapper-before"></div>
		<div class="content-header row">
			<div class="content-header-left col-md-4 col-12 mb-2">
				<h3 class="content-header-title">Logement</h3>
			</div>
		</div>



		<div class="content-body">
			<section id="line-awesome-icons">
				<div class="row">
					<div class="col-12">
						<div class="card">
							<div class="card-content collapse show">
								<div class="card-body">
									<p>La cuisine, c’est pas facile, entre la motivation nécessaire pour faire les courses (et la
										vaisselle…), le
										trou dans le budget, ou encore les idées de recettes, c’est la galère.</p>
									<p>Si c’est la 7 ème fois de la semaine que tu manges des pâtes, alors que nous sommes seulement
										mercredi, ces conseils pourront sûrement t’être utiles.</p>
									<p> Sur le campus, tu peux récupérer chaque semaine un panier de fruits et de légumes pour la somme
										de 5€ ! Il y a de nombreux points de distribution, toutes les informations se trouvent <a
											href="https://www.facebook.com/lespetitspaniers/">ici</a>
									</p>
									<p>
										Dans la même optique, il existe aussi des paniers de légumes réalisés par des agriculteurs locaux
										ici
										(http://amapbordeauxcentre.org/). </p>
									<p>Tu peux aussi télécharger l’appli <a href="https://www.toogoodtogo.fr/fr">Too Good To Go</a> pour
										sauver les
										invendus des commerces autour de chez toi. Tu manges à petit prix et tu évites le gaspillage
										alimentaire, ça vaut le coup non ? </p>
									<p>Pour trouver de nouvelles idées de recettes faciles pour un petit budget étudiant, le <a
											href="https://www.cuisine-etudiant.fr/">site cuisine-étudiant</a> est une communauté qui permet
										aux étudiants cuistots
										de partager leurs meilleures recettes ! </p>
									<p>Tu peux aussi venir tester les ateliers cuisine étudiants à l’Espace Santé Etudiants de Pessac tous
										les
										jeudis de 10h30 à 14h, pour plus de renseignements, tu peux aller <a
											href="https://www.facebook.com/lespetitspaniers/">là</a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>



<script>
	document.getElementById("food").classList.add("active"); 
</script>