<div class="app-content content">
        <div class="content-wrapper">
            <div class="content-wrapper-before"></div>
            <div class="content-header row">
                <div class="content-header-left col-md-4 col-12 mb-2">
                    <h3 class="content-header-title">Santé</h3>
                </div>
            </div>
    
            
    
            <div class="content-body">
                <section id="line-awesome-icons">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-content collapse show">
                                    <div class="card-body">
    
                                        <p>Tu fais partie de ces personnes qui ne vont jamais chez le docteur ? Prendre un rendez-vous te panique ? Tu ne comprends rien à la sécurité sociale, la mutuelle, les complémentaires santé ? Tu es au bon endroit !</p>
                                        <p>Des dispositifs te permettent de rester en bonne santé sur Bordeaux sans avoir à avancer les frais !</p> 

    
    
                                        <h4 data-toggle="collapse" data-target="#p1" aria-expanded="false" aria-controls="p1"> <i class="la la-angle-down"></i>
                                            Couverture santé</h4>
                                        <div class="collapse" id="p1" >
                                            <p>L'assurance maladie, qu'est ce que c'est ?</p>
                                            <p>L'assurance maladie te permet l'accès aux soins. Elle garantit le remboursement d'une partie des frais médicaux. Le régime étudiant de sécurité sociale a disparu, tu restes donc affilié.e au régime général (souvent celui des parents). </p>
                                            <p>La sécurité sociale, c'est OBLIGATOIRE ! Tu dois présenter ta carte vitale à chacun de tes rendez-vous médicaux.</p>
                                            <p>ATTENTION Ne confonds pas l'assurance maladie et la sécurité sociale ! L'assurance maladie est incluse dans les domaines couverts par la Sécu. Mais la Sécurité sociale couvre aussi la retraite, les accidents de travail, etc...</p>
                                            <p>Les complémentaires santé ou mutuelles, qu'est-ce que c'est ?</p>
                                            <p>Même si l'assurance maladie rembourse une partie des frais, il reste souvent une partie à ta charge. La mutuelle ou la complémentaire santé est là pour ça ! Tu es automatiquement rattaché.e à la Caisse Primaire d'Assurance Maladie. Les mutuelles étudiantes proposent des complémentaires santé spécifiques aux étudiants. Si tu as moins de 25 ans, tu es sûrement rattaché.e à tes parents. Cependant, pour plus d'informations, tu peux regarder <a href="https://www.etudiant.gouv.fr/cid114047/complementaire-sante-les-dispositifs-vous-concernant.html">ici</a>.</p>
                                            <p>Tu peux peut-être bénéficier d’une <a href="https://www.complementaire-sante-solidaire.gouv.fr/complementairesantesolidaire.php">complémentaire santé solidaire</a>, vérifies si tu es éligible ! </p>
                                        </div>
                                            <hr />
    
                                        <h4 data-toggle="collapse" data-target="#p2"> <i class="la la-angle-down"></i>
                                             Où me soigner ? </h4>
                                        <div class="collapse"  id="p2">
                                            <p> Il existe un outil formidable pour les angoissés du téléphone : <a href="https://www.doctissimo.fr/">DOCTISSIMO</a> !
                                            </p>
                                            <p>Ce site te permet de prendre rendez-vous chez de nombreux professionnels de santé directement depuis leur site. Tu peux avoir accès aux disponibilités des professionnels de santé autour de chez toi et avoir un rendez-vous le plus rapidement possible.</p>
                                            <p>Étant étudiant à Bordeaux, tu peux en plus profiter des services proposés par l'<a href="https://www.u-bordeaux.fr/Campus/Espace-sante-etudiants">Espace santé étudiant</a> situés à Pessac ou à la Victoire.</p>
                                            <p>Lors d'un rendez-vous à l'Espace, tu n'as pas besoin d'avancer les frais médicaux et tu peux prendre rendez-vous <a href="https://www.doctolib.fr/centre-de-sante/pessac/espace-sante-etudiants-pessac">ici</a>.</p>
                                            <p>Adresses : <br />
                                                22 avenue Pey-Berland <br />
                                                Tram B - Arrêt Doyen Brus <br />
                                                33600 Pessac <br />
                                            </p>
                                            <p>
                                                3 place de la Victoire <br />
                                                Tram B - Arrêt Victoire <br />
                                                33000 Bordeaux <br/>
                                            </p>
                                            <p>Et pour les urgences, tu peux consulter les pharmacies de garde <a href="https://www.sosmedecins-bordeaux.com/pharmacies/">ici</a>.</p>
                                        </div>
                                        <hr />
    
                                        <h4 data-toggle="collapse" data-target="#p3"> <i class="la la-angle-down"></i>
                                         Sexualité</h4>
                                        <div class="collapse"  id="p3">
                                            <p> Problèmes de contraception, grossesses imprévues, rapports non protégés, pour gérer ces situations, tu peux te référer à ces organismes spécialisés :
                                            </p>

                                            <ul>
                                                <li>
                                                    <b>CeGIDD (Centre Gratuit d'Information, de Dépistage et de Diagnostic)</b> <br />
                                                    Maison départementale de la santé <br />
                                                    2 rue du Moulin Rouge 33200 BORDEAUX <br />
                                                    Tél : 05 57 22 46 66 <br />
                                                </li>
                                                <li>
                                                    <b>Le Planning Familial</b> <br />
                                                    19 rue Eugène Leroy 33800 BORDEAUX<br />
                                                    Tél : 05 56 44 00 04<br />
                                                </li>
                                                <li>
                                                    <b><a href="https://www.gironde.fr/sites/default/files/2017-03/centre_planif_bd.pdf">Les centres de planification de Gironde </a></b>
                                                </li>

                                            </ul>
                                        </div>
                                        <hr />
    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>


<script>
        document.getElementById("health").classList.add("active"); 
        </script>