<div class="app-content content">
	<div class="content-wrapper">
		<div class="content-wrapper-before"></div>
		<div class="content-header row">
			<div class="content-header-left col-md-4 col-12 mb-2">
				<h3 class="content-header-title">Loisirs</h3>
			</div>
		</div>



		<div class="content-body">
			<section id="line-awesome-icons">
				<div class="row">
					<div class="col-12">
						<div class="card">
							<div class="card-content collapse show">
								<div class="card-body">

									<p>Les études c’est bien mais se faire des potes c’est pas mal aussi. Renseigne-toi auprès de ton
										école,
										de ton université, des différents lieux de rencontre à ta disposition : le sport, les associations
										sont des
										bons moyens de rencontrer de nouvelles personnes.</p>

									<h4 data-toggle="collapse" data-target="#p1" aria-expanded="false" aria-controls="p1"> <i
											class="la la-angle-down"></i>
										Sport
									</h4>
									<p class="collapse" id="p1">
										La pratique sportive est présente dans toutes les universités, accroc de la
										compét’ ou sportif du
										dimanche, tu trouveras sûrement ton bonheur parmi les propositions de ton école.
										Pour parcourir les propositions de l’université de Bordeaux, c’est par <a
											href="https://www.u-bordeaux.fr/Campus/Sport">ici</a></p>
									<hr />

									<h4 data-toggle="collapse" data-target="#p2"> <i class="la la-angle-down"></i>
										Vie associative </h4>
									<div class="collapse" id="p2">
										<p>
											Rapproche-toi des bureaux de vie étudiante de ton campus pour te renseigner sur les associations
											hébergées dans ta fac, tu peux voir celles de l’université de Bordeaux, <a
												href="https://www.u-bordeaux.fr/Campus/Vie-associative">ici</a>. Sinon, tu peux consulter <a
												href="(http://www.jeuneabordeaux.fr/projet-engagement/les-associations">ce site</a>
											qui te fournira plein
											d’informations très utiles !
										</p>
									</div>
									<hr />

									<h4 data-toggle="collapse" data-target="#p3"> <i class="la la-angle-down"></i>
										Culture</h4>
									<div class="collapse" id="p3">
										<p>
											Si tu as moins de 26 ans, les expositions permanentes d’une majorité de musées sont accessibles
											gratuitement. Ton université propose sûrement des évènements culturels : concerts, festivals,
											expositions… Tu peux accéder à des idées de sorties sur <a
												href="http://www.jeuneabordeaux.fr/me-distraire">ce site</a>.
										</p>
									</div>
									<hr />

								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>

<script>
	document.getElementById("hobbies").classList.add("active"); 
</script>