<div class="app-content content">
    <h1>EtudiTips</h1>
    <div class="content-wrapper">
        <div class="content-wrapper-before"></div>
        <div class="content-header row">
        </div>
        <div class="content-body">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-xl-3 col-lg-6 col-md-12">
                    <div class="card pull-up  bg bg-blue-grey">
                        <div class="card-body">
                                <a href="/housing"><h1 class="card-title">Logement</h1></a>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Desc</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-12">
                    <div class="card pull-up bg bg-yellow">
                        <div class="card-body">
                            <a href="/health"><h1 class="card-title">Santé</h1></a>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Desc</p>
                        </div>

                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-12">
                    <div class="card pull-up bg bg-pink">
                        <div class="card-body">
                            <a href="/aides-financieres"><h1 class="card-title">Aides financières</h1></a>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Desc</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-1" ></div>
            <div class="row">
                    <div class="col-sm-1" ></div>
                <div class="col-xl-3 col-lg-6 col-md-12">
                    <div class="card pull-up bg bg-cyan">
                        <div class="card-body">
                            <a href="/etudes"><h1 class="card-title">Études</h1></a>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Desc</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-12">
                        <div class="card pull-up bg bg-red">
                                <div class="card-body">
                                    <a href="/job"><h1 class="card-title">Job</h1></a>
                                </div>
                        <div class="card-body">
                            <p class="card-text">Desc</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-12">
                        <div class="card pull-up bg bg-cyan">
                                <div class="card-body">
                                    <a href="/bien-etre"><h1 class="card-title">Bien-être</h1></a>
                                </div>
                        <div class="card-body">
                            <p class="card-text">Desc</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-1" ></div>
            <div class="row">
                    <div class="col-sm-1" ></div>
                <div class="col-xl-3 col-lg-6 col-md-12">
                        <div class="card pull-up bg bg-teal">
                                <div class="card-body">
                                    <a href="/se-nourrir"><h1 class="card-title">Se nourrir</h1></a>
                                </div>
                        <div class="card-body">
                            <p class="card-text">Desc</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-12">
                        <div class="card pull-up bg bg-amber">
                                <div class="card-body">
                                    <a href="/loisirs"><h1 class="card-title">Loisirs</h1></a>
                                </div>
                        <div class="card-body">
                            <p class="card-text">Desc</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-12">
                        <div class="card pull-up bg bg-purple">
                                <div class="card-body">
                                    <a href="/bons-plans"><h1 class="card-title">Bons Plans</h1></a>
                                </div>
                        <div class="card-body">
                            <p class="card-text">Desc</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1" ></div>
            </div>
        </div>
    </div>
</div>