<!doctype html>

<html lang="fr">
<head>
  <meta charset="utf-8">

  <title>Accueil</title>
  <meta name="author" content="Au DDD">
  <link rel="stylesheet" href="/public/css/bootstrap.css">
</head>

<body>
<% if(typeof flash != 'undefined') { %>
  <div>
    <%= flash %>
  </div>
<% } %>
<button type="button" class="btn btn-primary">Salut</button>
</body>
</html>