<!doctype html>

<html lang="fr">
<head>
  <meta charset="utf-8">

  <title>Accueil</title>
  <meta name="author" content="Au DDD">
  <link rel="stylesheet" href="/css/docs.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<button type="button" class="oki btn btn-primary">Salut</button>
</body>
</html>