<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-wrapper-before"></div>
        <div class="content-header row">
            <div class="content-header-left col-md-4 col-12 mb-2">
                <h3 class="content-header-title">Logement</h3>
            </div>
        </div>

        

        <div class="content-body">
            <section id="line-awesome-icons">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-content collapse show">
                                <div class="card-body">

                                    <p>Se loger à Bordeaux n’est pas forcément aussi compliqué que ce que l’on peut
                                        croire. Si tu as les documents et les bons conseils, tout va bien se passer.</p>


                                    <h4 data-toggle="collapse" data-target="#p1" aria-expanded="false" aria-controls="p1"> <i class="la la-angle-down"></i>
                                        Conseils pour les débutants du logement</h4>
                                    <p class="collapse" id="p1">Quand tu entres dans le logement, fais l’état des lieux avec rigueur,
                                        écris des adjectifs qui définissent correctement l’état du logement et ne reste
                                        pas flou. <br />
                                        Si tu quittes ton logement, tu dois donner un préavis de 3 mois à ton
                                        propriétaire. Dans certaines conditions, le préavis peut être seulement d’un
                                        mois, lis attentivement ton bail pour vérifier cette information.<br />
                                        Pense à la taxe d’habitation, même si tu as quitté le logement tu devras la
                                        payer à un moment ou à un autre. <br />
                                        Le dépôt de garantie (donné au début de ta location) doit t’être restitué un
                                        mois après le départ, si le propriétaire ne te retourne pas le dépôt dans les
                                        temps, il devra s’acquitter de charges supplémentaires. </p>
                                        <hr />

                                    <h4 data-toggle="collapse" data-target="#p2"> <i class="la la-angle-down"></i>
                                        Dossier locataire </h4>
                                    <div class="collapse"  id="p2">
                                        <p> Pour faire une demande de logement, tu auras besoin de divers documents (si
                                            tu crées un compte, tu pourras tous les papiers nécessaires en ligne) :
                                            <ul>
                                                <li>Pièce d’identité</li>
                                                <li> Un justificatif de domicile (3 dernières quittances de loyer ou une
                                                    attestation de domiciliation ou une attestation d’hébergement ou le
                                                    dernier avis de taxe foncière)</li>
                                                <li>Un justificatif d’identité professionnelle (contrat de travail ou de
                                                    stage, certificat de scolarité, …)</li>
                                                <li>Un document attestant du niveau de ressources (3 derniers bulletins
                                                    de salaire, avis d’imposition, justificatif de revenus fonciers), en
                                                    tant qu’étudiant, ces documents seront sûrement ceux de tes garants
                                                    (si tu n’as pas de garants, regarde plus bas tout est expliqué)</li>
                                            </ul>
                                        </p>
                                    </div>
                                    <hr />

                                    <h4 data-toggle="collapse" data-target="#p3"> <i class="la la-angle-down"></i>
                                        Aides pour le logement</h4>
                                    <div class="collapse"  id="p3">
                                        <p> C’est quoi la CAF ?
                                            La CAF, Caisse d’Allocations Familiales, est un organisme public permettant
                                            le
                                            versement de prestations financières d’ordre familial et social.
                                            Tu peux notamment bénéficier des APL, Aide Personnalisée au Logement, les
                                            demandes se font en ligne et tu peux faire une simulation pour savoir
                                            combien tu
                                            peux avoir. Pour faire la simulation, tu as besoin :
                                            <ul>
                                                <li>Du montant de ton loyer</li>
                                                <li>De savoir si ton logement est conventionné (ne t’inquiète pas, c’est
                                                    précisé dans le bail),</li>
                                                <li>De savoir si tu es détaché du foyer fiscal de tes parents ou pas
                                                    (est-ce que
                                                    tu fais une déclaration de revenu séparé de tes parents ? Si la
                                                    réponse est non,
                                                    tu es toujours rattaché au foyer fiscal de tes parents.)</li>
                                                <li> De connaître le montant de tes revenus et son détail (salaire,
                                                    indemnités,
                                                    etc)</li>
                                            </ul>
                                            La simulation se fait <a href="http://www.caf.fr/">ici</a> mais tu peux
                                            aussi utiliser le
                                            site <a href="https://mes-aides.gouv.fr/">mes-aides.gouv</a> qui propose un simulateur
                                            pour plus de 33 aides ! Pour cette
                                            simulation, tu as besoin de connaître tes revenus, savoir si tu es boursier
                                            et
                                            si oui, à quel échelon tu te situes.
                                            Si tu as un problème pour ton dépôt de garantie (appelé plus communément à
                                            tort
                                            caution), tu peux te diriger vers <a
                                                href="https://www.actionlogement.fr/l-avance-loca-pass">Avance
                                                Loca-pass</a>
                                            qui seront en mesure de te
                                            donner un coup de pouce.
                                            Si tu n’as pas de garants ou s’ils ne remplissent pas les conditions pour
                                            louer
                                            ton logement, tu peux te tourner vers <a
                                                href="https://www.visale.fr/">Visale</a> pour
                                            remplacer le garant.
                                            Pour bénéficier d’une avance sur ton premier loyer, la région Nouvelle
                                            Aquitaine
                                            propose une <a href="https://avanceloyer.solihanouvelleaquitaine.fr/">caisse
                                                d’avance</a> pour t’aider.
                                            Tu peux aussi demander les chèques énergie, un moyen de paiement émis par
                                            l’état
                                            pour aider à payer les factures d’énergie. Il faut déclarer ses revenus pour
                                            recevoir le chèque énergie, y compris lorsque tu n’es pas imposable.
                                        </p>
                                    </div>
                                    <hr />

                                    <h4 data-toggle="collapse" data-target="#p4"> <i class="la la-angle-down"></i>
                                        Trouver ton logement</h4>
                                    <div class="collapse"  id="p4">

                                        <p>
                                            Pour te loger à Bordeaux, tu peux tout d’abord consulter cette <a
                                                href="http://www.connect-comtogether.com/flipbook/6ef8b1443f60d6040f55633b13105ebc/#p=1">brochure
                                            </a>
                                            qui te donnera toutes les informations nécessaires.
                                            Il existe différents types de logement :
                                            <ul>
                                                <li>Le logement classique (location d’un particulier à un particulier ou
                                                    d’un
                                                    professionnel à un particulier)</li>
                                                <li><a href="https://www.demande-logement-social.gouv.fr">Le logement social</a>
                                                </li>
                                                <li>La colocation</li>
                                                <li>La chambre meublée</li>
                                                <li><a href="https://trouverunlogement.lescrous.fr/">Les résidences du
                                                        CROUS </a></li>
                                                <li><a href="https://www.adoma.fr">Les résidences sociales</a></li>
                                            </ul>

                                            Pour trouver un logement classique, tu peux te diriger vers :
                                            <ul>
                                                <li><a
                                                        href="https://www.Logement.pourlesjeunes.com">Logement.pourlesjeunes.com</a>
                                                </li>
                                                <li><a href="https://www.Jesuisunjeune.com">Jesuisunjeune.com</a></li>
                                                <li><a href="https://www.Leboncoin.fr">Leboncoin.fr</a></li>
                                                <li><a href="https://www.Seloger.com">Seloger.com</a></li>
                                                <li><a href="https://www.Fnaim.fr">Fnaim.fr</a></li>
                                                <li><a href="https://www.Lokavitz.fr">Lokavitz.fr</a></li>
                                            </ul>

                                            Pour les colocations, tu peux trouver des annonces sur leboncoin.fr, sur les
                                            pages facebook ou encore sur la <a
                                                href="https://www.lacartedescolocs.fr/">Carte des Colocs</a>

                                            Si tu as besoin d’un logement d’urgence, tu peux appeler le 115, c’est un
                                            numéro
                                            d’urgence sociale qui assure des missions d’accueils et d’écoute notamment
                                            en
                                            matière d’hébergement, ce numéro est gratuit et propose une réponse
                                            immédiate.
                                            Ils sauront te diriger vers les services les plus adaptés pour ta situation.
                                        </p>
                                    </div>
                                    <hr />

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<script>
document.getElementById("housing").classList.add("active"); 
</script>