<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-wrapper-before"></div>
    <div class="content-header row">
      <div class="content-header-left col-md-4 col-12 mb-2">
        <h3 class="content-header-title">Job</h3>
      </div>
    </div>

    <div class="content-body">
      <section id="line-awesome-icons">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-content collapse show">
                <div class="card-body">

                  <p>
                    A la recherche d’un job étudiant ? Commence par ouvrir l’œil et les oreilles, les groupes Facebook,
                    les bons plans des copains sont toujours intéressants !
                  </p>
                  <p>
                    Si tu as peur que tes études en pâtissent, il faut savoir que les contrats étudiants sont moins
                    lourds que les contrats « classiques ». Tu peux aussi bénéficier d’un aménagement d’études,
                    renseigne-toi auprès de ton lieu d’études !
                  </p>
                  <p>
                    Mais sinon, tu peux aller voir <a href="https://www.u-bordeaux.fr/Campus/Emplois-etudiants">ici</a>
                    ou <a href="http://jobs.pourlesjeunes.com/index.php?nosso=1&nosso=1">ici</a>.
                  </p>

                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<script>
  document.getElementById("job").classList.add("active"); 
</script>