<div class="app-content content">
        <div class="content-wrapper">
            <div class="content-wrapper-before"></div>
            <div class="content-header row">
                <div class="content-header-left col-md-4 col-12 mb-2">
                    <h3 class="content-header-title">Aides Financières </h3>
                </div>
            </div>
    
            
    
            <div class="content-body">
                <section id="line-awesome-icons">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-content collapse show">
                                    <div class="card-body">
    
                                        <p>En manque de thunes ? As-tu bien vérifié que tu as fait tes demandes de bourses ?</p>

    
                                        <h4 data-toggle="collapse" data-target="#p1" aria-expanded="false" aria-controls="p1"> <i class="la la-angle-down"></i>
                                                Dossier social étudiant (DES)</h4>
                                        <div class="collapse" id="p1" >
                                            <p>Le <a href="https://www.messervices.etudiant.gouv.fr/depot/choixDepot">Dossier Social Etudiant</a> est le dossier qui te permet de faire ta demande de bourse auprès du CROUS. Pour constituer ce dossier, tu as besoin de :</p>
                                        <ul>
                                                <li>Etre en possession de l’avis fiscal qui se rapportent aux revenus perçus en 2017 par tes parents (ou du tien en cas de déclaration séparée)</li>
                                                <li>Un justificatif de scolarité 2018-2019 pour toi et ta fratrie dans l’enseignement supérieur</li>
                                                <li>Un RIB à ton nom</li>
                                                <li>Une carte bancaire pour le paiement en ligne des frais de dossiers</li>
                                        </ul>
                                        <p>Pense à te renseigner sur les revenus de tes parents pour faire les simulations de bourse.</p>
                                        <p>Selon ton échelon, tu pourras bénéficier de l’exonération de tes frais d’inscription à l’échelon 0 jusqu’à 555€ par mois à l’échelon 7.</p>
                                        <p>Au niveau national, des bourses au mérite peuvent être attribuées à la suite des résultats du baccalauréat, un dossier doit être déposé au CROUS et l’éligibilité se fait à partir du DSE. Ce genre de bourses peuvent aussi être proposées au sein de certaines mairies ou collectivités.</p>
                                        </div>
                                            <hr />
    
                                        <h4 data-toggle="collapse" data-target="#p2"> <i class="la la-angle-down"></i>
                                                Autres Bourses </h4>
                                        <div class="collapse"  id="p2">
                                            <p>Des bourses sont accordées par des associations ou des fondations. Ces fondations sont présentes dans toute la France, sept se trouvent en Nouvelle Aquitaine. Vous pourrez bénéficier d’avantages de renseignements <a href="https://www.fondationdefrance.org/fr/guide-des-bourses">ici</a>.</p>
                                        </div>
                                        <hr />
    
                                        <h4 data-toggle="collapse" data-target="#p3"> <i class="la la-angle-down"></i>
                                                La prime d’activité</h4>
                                        <div class="collapse"  id="p3">
                                            <p>Tu as plus de 18 ans et tu as eu des revenus durant les trois derniers mois ? Tu peux sûrement prétendre à la <a href="https://wwwd.caf.fr/wps/portal/caffr/aidesetservices/lesservicesenligne/faireunedemandedeprestation/demanderlaprimedactivite/">prime d’activité</a>. Cette prime a pour objet d’inciter les travailleurs à exercer une activité professionnelle pour soutenir le pouvoir d’achat. Pour faire une simulation du montant de la prime, tu devras renseigner le montant de ton salaire et de ton loyer.</p>
                                        </div>
                                        <hr />

                                        <h4 data-toggle="collapse" data-target="#p4"> <i class="la la-angle-down"></i>
                                                Outils de gestion</h4>
                                        <div class="collapse"  id="p4">
                                            <p>De nombreux outils peuvent t’aider à gérer ton budget, tu en auras sûrement besoin pendant un premier temps. 
                                            </p>
                                            <p>Un <a href="https://www.lafinancepourtous.com/outils/calculateurs/calculateur-de-budget-simple">calculateur de budget.</a></p>
                                            <p>Si tu es en coloc, l’application Tricount te permettra de partager tes dépenses et de savoir qui doit combien à qui sans prise de tête.</p>
                                            <p>Pour rembourser tes potes facilement, des applications comme Pumpkin ou Lydia sont très simples d’utilisation et évitent que les potes qui n’ont jamais de monnaie pour te rembourser s’en sortent trop facilement.</p>

                                        </div>
                                        <hr />
    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>



<script>
        document.getElementById("money").classList.add("active"); 
        </script>