<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-wrapper-before"></div>
    <div class="content-header row">
      <div class="content-header-left col-md-4 col-12 mb-2">
        <h3 class="content-header-title">Etudes</h3>
      </div>
    </div>

    <div class="content-body">
      <section id="line-awesome-icons">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-content collapse show">
                <div class="card-body">

                  <p>
                    Pour tes études, il y aura deux moments
                    où tu devras fournir de nombreux
                    documents : lors de la candidature et
                    lors de l’inscription. Pour t’aider, je
                    t’invite à créer un compte sur le site
                    pour stocker les documents nécessaires
                    et ne pas avoir à les chercher à chaque
                    fois.
                  </p>
                  <p>
                    Renseigne-toi auprès de ton université
                    pour connaître les documents à fournir,
                    pour l’université de Bordeaux, la
                    plupart des informations se trouvent <a
                      href="https://www.u-bordeaux.fr/Formation/Candidatures-et-inscriptions">ici</a>.
                  </p>
                  <h4 data-toggle="collapse" data-target="#p1" aria-expanded="false" aria-controls="p1"> <i
                      class="la la-angle-down"></i>
                    Orientation</h4>
                  <div class="collapse" id="p1">
                    <p>
                      Des doutes sur ton orientation ? Tu ne
                      sais pas si tu as fait le bon choix ?
                    </p>
                    <p>
                      De nombreux étudiant.e.s se trouvent
                      dans ta situation, se rendre compte
                      qu’une filière n’est pas faite pour nous
                      est très fréquent. Se réorienter ne doit
                      pas être un obstacle et <a
                        href="https://www.u-bordeaux.fr/Profils/Etudiant/Orientation-et-insertion-professionnelle">l’Espace
                        Orientation Carrières</a>

                      de l’université de Bordeaux peut
                      t’accompagner dans tes démarches.
                    </p>
                  </div>
                  <hr />
                  <h4 data-toggle="collapse" data-target="#p2" aria-expanded="false" aria-controls="p2"> <i
                      class="la la-angle-down"></i>
                    Soutien scolaire</h4>
                  <div class="collapse" id="p2">
                    <p>Tu galères dans les cours ? Tu as
                      l’impression d’être dépassé.e ?
                    </p>
                    <p>
                      Des systèmes de tutorat entre élèves
                      sont fréquemment mis en place dans les
                      universités, va te renseigner auprès de
                      l’accueil ou du bureau des élèves pour
                      découvrir l’existence de ces
                      dispositifs.
                    </p>
                    <p>
                      N’hésite pas à solliciter tes camarades,
                      tes professeurs, ne reste pas seul.e
                      dans une situation de détresse, tu n’es
                      sûrement pas le seul ou la seule à
                      connaître cette problématique.
                    </p>
                  </div>
                  <hr />

                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<script>
  document.getElementById("studies").classList.add("active"); 
</script>