<!doctype html>

<html lang="fr">
<head>
  <meta charset="utf-8">

  <title>Upload file</title>
  <meta name="author" content="Au DDD">
  <link rel="stylesheet" href="/public/css/bootstrap.css">
</head>

<body>
  <form method="POST" action="/testUpload" enctype="multipart/form-data">
    <div>
      <label for="file">Fichier</label>
      <input id="file" type="file" name="file"required>
    </div>
    
    <button type="submit">Inscription</button>
  </form>
</body>
</html>