<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-wrapper-before"></div>
    <div class="content-header row">
      <div class="content-header-left col-md-4 col-12 mb-2">
        <h3 class="content-header-title">Bons Plans</h3>
      </div>
    </div>

    <div class="content-body">
      <section id="line-awesome-icons">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-content collapse show">
                <div class="card-body">
                  <p>Tout d’abord, ta carte étudiante te donne accès à pleinnnnnnn de choses : les musées gratuits, les
                    places de cinéma moins chères, etc. Donc, quand tu sors de chez toi, pense à la prendre !</p>
                  <p>De nombreux sites, propose des codes promo ou des tarifs étudiants, ils sont tous recensés sur le
                    site
                    tarif-étudiant.com (https://www.tarif-etudiant.com/) . Spotify, Apple music et Deezer proposent un
                    tarif étudiant après vérification de ton adresse mail étudiante, ASOS offre 10% de réductions aux
                    étudiants, etc. </p>
                  <p>N’hésite pas à t’intéresser à Vinted, aux vides-dressing ou encore aux friperies de Bordeaux pour
                    acheter moins chers ou même vendre tes vêtements ! </p>
                  <p>Si tu as un abonnement TBM, tu peux acheter pour 2€50 le pass CITIKS, celui te donne accès à des
                    promotions dans des commerces, des spectacles, des restaurants. </p>
                  <p>Si tu as moins de 26 ans, tu peux demander <a href="https://cartejeune.bordeaux-metropole.fr/">la
                      carte jeune</a>, les avantages et réductions sont multiples, fais la demande ! </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

  </div>
</div>

<script>
  document.getElementById("tips").classList.add("active"); 
</script>