<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-wrapper-before"></div>
    <div class="content-header row">
      <div class="content-header-left col-md-4 col-12 mb-2">
        <h3 class="content-header-title">Bien-être</h3>
      </div>
    </div>

    <div class="content-body">
      <section id="line-awesome-icons">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-content collapse show">
                <div class="card-body">

                  <p>
                    La vie étudiante, c’est pas tous les jours faciles, si tu ressens l’envie d’en parler, si tu te sens
                    seul.e, si tu te sens dépassé.e par les évènements, des personnes sont là pour t’écouter, te
                    conseiller, t’orienter.
                  </p>
                  <p>
                    Des points d’accueil et d’écoute pour les jeunes existent en Gironde, tu pourras bénéficier
                    d’informations <a
                      href="https://www.gironde.fr/acteurs-jeunesse/les-ressources/points-daccueil-ecoute-jeunes-paej">ici</a>.
                  </p>
                  <p>
                    Tu peux aussi prendre rendez-vous avec une assistante social à <a
                      href="https://www.u-bordeaux.fr/Campus/Social">l’Espace Santé Etudiants</a>.
                  </p>

                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<script>
  document.getElementById("wellbeing").classList.add("active"); 
</script>