.oki {
    background-color: red;
}

.color4 {
    background-color: #70d6fc !important;
}

.color6 {
    background-color: #7faffd !important;
}

.color1 {
    background-color: #aa91f5 !important;
}

.color2 {
    background-color: #34c9fe !important;
}

.color8 {
    background-color: #68a1fe !important;
}

.color7 {
    background-color: #9c7aff !important;
}

.color3 {
    background-color: #109ed1 !important;
}

.color9 {
    background-color: #468af8 !important;
}

.color5 {
    background-color: #784dfc !important;
}

.file_row  {
    margin : 10px;
}

.save_btn {
    margin-top : 15px;
    position: relative;
}